.dropdown-menu {
  min-width: 0px;
}

footer {
	font-size: 0.8em;
	padding-top:2em;
	color:#B0B0B0;
	text-align: center;
}
#url
{
	width:48%;
}
#fileupload
{
	width:40%;
}
h4 {
	margin-top:1.3em;
}
#mainnav {
	margin-bottom: 4em;
}