.dropdown-menu {
  min-width: 0px;
}

footer {
	font-size: 0.8em;
	padding-top:2em;
	color:#B0B0B0;
	text-align: center;
}
#url
{
	width:48%;
}
#fileupload
{
	width:40%;
}
h4 {
	margin-top:1.3em;
}
#mainnav {
	margin-bottom: 4em;
}

.ribbon {
    top: 3.2em;
    right: -3.7em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color:#fff;
    display: block;
    padding: .6em 3.5em;
    position: fixed;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #c6c5c5;
}