<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
 
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <!--
            <param name="ConversionPattern"
                value="[%d{ISO8601}] %-5p [%c] %m %n" />
            -->
            <param name="ConversionPattern" value="%-5p [%c] %m %n" />
        </layout>
    </appender>
     
    <appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[%d{ISO8601}] %-5p [%c] %m %n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR" />
            <param name="LevelMax" value="FATAL" />
        </filter>
    </appender>
     
    <appender name="SKOSPLAY_ROLLING_FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="skos-play.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="1000KB" />
        <param name="MaxBackupIndex" value="5" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] %-5p %m%n" />
        </layout>
    </appender>
 
    <logger name="fr.sparna.rdf" additivity="false">
        <level value="ALL" />
        <appender-ref ref="SKOSPLAY_ROLLING_FILE" />
        <appender-ref ref="STDOUT" />
    </logger>
         
    <!-- ** -->
     
    <root>
        <level value="ERROR" />
        <appender-ref ref="STDERR" />
    </root>
 
 
</log4j:configuration>