<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
 
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <!--
            <param name="ConversionPattern"
                value="[%d{ISO8601}] %-5p [%c] %m %n" />
            -->
            <param name="ConversionPattern" value="%-5p [%c] %m %n" />
        </layout>
    </appender>
     
    <appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[%d{ISO8601}] %-5p [%c] %m %n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR" />
            <param name="LevelMax" value="FATAL" />
        </filter>
    </appender>
     
    <appender name="ROLLING_FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/data-press.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="1000KB" />
        <param name="MaxBackupIndex" value="5" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] %-5p %m%n" />
        </layout>
    </appender>
    
    <!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="INFO" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework.web">
		<level value="INFO" />
	</logger>
	
	<logger name="org.apache.fop">
		<level value="INFO" />
	</logger>
	
	<logger name="org.apache.http">
		<level value="INFO" />
	</logger>	
	
	<logger name="org.eclipse.rdf4j">
		<level value="INFO" />
	</logger>
    
 
    <logger name="fr.sparna.rdf" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="ROLLING_FILE" />
        <appender-ref ref="STDOUT" />
    </logger>
         
    <!-- ** -->
     
    <root>
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
    </root>
 
 
</log4j:configuration>