<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="skos-printer"
	version="2.5">

	<display-name>DBPedia lookup GUI</display-name>

	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
		<param-value>en</param-value>
	</context-param>

	<!-- Main Spring dispatcher servlet -->
	<servlet>
		<servlet-name>spring-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<!-- Spring va chercher un fichier de conf dans WEB-INF/[servlet-name]-servlet.xml -->
		<servlet-name>spring-dispatcher</servlet-name>
		<!-- ne _pas_ mettre /*, voir http://stackoverflow.com/questions/1266303/no-mapping-found-for-http-request-with-uri-web-inf-pages-apiform-jsp -->
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<!-- JSP welcome file that will redirect to a Spring call -->
		<welcome-file>welcomefile.jsp</welcome-file>
	</welcome-file-list>

</web-app>