/*
	Sublists numbering
*/

ol { counter-reset: item }
li { display: block }
li:before { content: counters(item, ".") " "; counter-increment: item }

/* Java */

pre.java /* container for citations */
	{
	margin: 1.5em 1.5em 1.5em 1.5em;
	background-color: cornsilk;
	}

tt.java /* single cited line in JCite's -tt mode */
	{
	margin: 1.5em 1.5em 1.5em 1.5em;
	background-color: cornsilk;
	}

span.j-blk /* block comment */
{
	color: green;
	font-style: italic;
}

span.j-cmt /* line comment */
{
	color: green;
	font-style: italic;
}

span.j-key /* keyword */
{
	/* font-weight:bold; */
	color: maroon;
}

span.j-str /* string constants */
{
	color: blue;
}

span.j-chr /* char constants */
{
	color: blue;
}

span.j-num /* number constants */
{
}

span.j-sym /* symbols, punctuation */
{
}

span.j-typ /* primitive types */
{
	color: maroon;
}

span.j-jdoc /* javadoc */
{
	color: steelblue;
}

span.j-jdoc-key /* javadoc keyword */
{
	color: steelblue;
	font-weight: bold;
}

span.j-jdoc-html /* javadoc html tag */
{
	color: steelblue;
	font-style: italic;
}

span.j-jdoc-link /* javadoc link */
{
	color: steelblue;
	font-style: italic;
}

span.j-undef /* undefined */
{
}

span.j-hl /* highlight */
{
	text-decoration: none;
	background-color: #FFFFB0;
}

/******************** Excel */

table.xl
	{
	    border-collapse:collapse;
	}

table.xl td
	{
		border: solid 1px lightgray;
		text-align: left;
		vertical-align: top;
		xpadding: 2px;
	}

table.xl td.xl-row, table.xl thead td
	{
		background-color: #ECECEC;
		border-color: gray;
		text-align: center;
		padding-left: 2px;
		padding-right: 2px;
		font-size: smaller;
		color: gray;
	}

table.xl td.xl-num, table.xl td.xl-date
	{
		text-align: right;
	}

span.xl-exp
	{
		font-size: x-small;
		font-family: monospace;
		color: maroon;
	}

span.xl-exp-only
	{
		font-family: monospace;
		color: maroon;
	}

span.xl-name
	{
		font-size: x-small;
		font-style: italic;
		color: #6495ED;
	}

td.xl-r1, span.xl-r1
	{
		background-color: #E0FFFF;
	}

td.xl-r2, span.xl-r2
	{
		background-color: #FFE0FF;
	}

td.xl-r3, span.xl-r3
	{
		background-color: #FFFFE0;
	}

td.xl-r4, span.xl-r4
	{
		background-color: #E0FFE0;
	}

td.xl-r5, span.xl-r5
	{
		background-color: #E0E0FF;
	}
