<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>gate-service</display-name>

	<listener>
		<listener-class>
			fr.sparna.gate.service.GateInitListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>GateServlet</servlet-name>
		<servlet-class>fr.sparna.gate.service.GateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GateServlet</servlet-name>
		<url-pattern>/annotate</url-pattern>
	</servlet-mapping>

</web-app>